.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STL city data
tabula-Nov16-Citywide-Precinct-Breakdown.csv
Citywide-Precinct-turnout.csv

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/